# Check if .envrc.local exists and load it for customized settings
if [ -f .envrc.local ]; then
  source .envrc.local
fi

# Use NVM to set the Node version
export NVM_DIR="$HOME/.nvm"
source "$NVM_DIR/nvm.sh"
nvm use 20.10.0

if [ -z "${C3_STD_CUSTOM_CONDA}" ]; then
  # Set up the Conda environment
  CONDA_DIR="/usr/local/share/c3/apps/conda"

  # Check if exists
  if [ ! -d "$CONDA_DIR" ]; then
    # If the default directory doesn't exist, check the alternate directory
    if [ -d "$HOME/.c3/standards/apps/conda" ]; then
      CONDA_DIR="$HOME/.c3/standards/apps/conda"
    else
      echo "No valid conda directory found."
      return 1  # Exit with error
    fi
  fi

  # Export CONDA_DIR so it is available to all sub-processes
  export CONDA_DIR

  source "$CONDA_DIR/etc/profile.d/conda.sh"
  conda activate c3apps
else
  echo "You are using a custom conda installation. Please make sure to activate the environment manually."
fi
