*.iml
*.ipr
*.iws
*.swp
*.swf
*.swc
*.db
*.orig
*.log
*.sha1
.rvmrc
.pydevproject
Gemfile
Gemfile.lock
.ruby-gemset
.ruby-version
.editorconfig
target
.settings/
*.gem
.DS_Store
.idea
love/mylove.yml
util/.project
util/.classpath
cassandra.pid
pe/.project
.project
.classpath
.externalToolBuilders
results/
node_modules
/bin/
.vscode
/tsconfig.json
**/jsconfig.json
.vs-cache
**/.fingerprints.txt
.vscode
**/gen/cache/**
__pycache__
.envrc.local
